body {
    background: #191919;
    font-family: 'Varela Round', sans-serif;
    text-shadow: 1px 1px #747474, -1px -1px #1a1a1a;
    color: #e8e8e8;
}

.main{
    width: 800px;
    padding: 10px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    border: 1px solid #1d1d1d;
    background: #2d2d2d linear-gradient(to bottom, #2e2e2e 0%, #333333 100%);;
    font-size: 30px;
}

.debt_container *{
    display: inline-block;
}

.debt_container .name{
    width: 50%;
    overflow: hidden;
}

.debt_container .sum{
    width: 20%;
    overflow: hidden;
}

.debt_container .timeLeft{
    width: 25%;
    overflow: hidden;
    font-family: 'Inconsolata', sans-serif;
    text-shadow: none;
}