<div class="main">

  <% for debt in @debts do %>
      <div class="debt_container">
          <div class="name"><%= debt.name %></div>
          <div class="sum"><%= debt.amount %></div>
          <div class="timeLeft"><%= debt.due_date %></div>
          <a class="transactions" href="/transactions/<%=debt.name%>"><img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAAPklEQVR42mPYtGnd/o0b1+1lgIKNG9f/JwWDNBzeuHHtQbINGHyA1DDBMIDUMGEY/IBQmBA0gFCYjKaD9f8Bi43xCa3SshIAAAAASUVORK5CYII=" /></a>
      </div>
  <% end %>

</div>

