<!DOCTYPE html>
<html>
<head>
  <title>CDA</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
  <%= csrf_meta_tags %>
</head>
<body onload="start()">

<%= yield %>

</body>
</html>
